.header {
    grid-area: header;
    background-color: rgba(121, 121, 122, 0.40);
    padding: 15px;
}

.userDataBlock {
    display: flex;
    flex-direction: column ;
}

a {
    color: #fff;
    text-decoration: none;
}
.userDataBlock button{
    width: 70px;
}