.app {
    margin: 0 auto;
    width: 1200px;
    height: 720px;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 2fr 10fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
                "header header"
                "nav profile";
}

.app_content {
    grid-area: profile;
    padding: 15px;
    background-color: rgba(128, 77, 134, 0.63);
}


